@use "./variables" as *;

@import "https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Inter:wght@300&family=Space+Grotesk:wght@700&display=swap";

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

:root {
    --padding-horizontal: 4rem;

    @media (max-width: 1080px) {
        --padding-horizontal: 2rem;
    }
}

html,
body {
    max-width: 100vw;
    width: 100%;
    background-color: $background-color;
}

body {
    font-size: 11pt;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: "Space Grotesk", monospace;
    color: $primary;
    line-height: 1.2;

    &.is-outline {
        -webkit-text-stroke-width: 1pt;
        -webkit-text-stroke-color: $secondary;
        color: rgba($secondary, 10%);
    }
}

h1 {
    font-size: clamp(3.0rem, 6vw, 5.0rem);
}

h2 {
    font-size: clamp(2.5rem, 6vw, 4.0rem);
}

h3 {
    font-size: clamp(2.0rem, 4vw, 3.5rem);
}

h4 {
    font-size: clamp(2.0rem, 4vw, 2.5rem);
}

h5 {
    font-size: clamp(1.5rem, 2vw, 2.0rem);
}

h6 {
    font-size: clamp(1.5rem, 1vw, 1.5rem);
}

a {
    color: $primary;
    text-decoration: none;
}

section,
footer {
    padding: 4rem var(--padding-horizontal);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 3rem;
}

footer {
    min-height: 80vh;
    display: grid;
    align-items: flex-end;
    grid-template-columns: 1fr 1fr;
    background-image: url("/noise.png");
    background-color: $secondary-light;

    .footer--contact, .footer--writting {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer--contact {
        align-items: flex-end;
    }

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;

        .footer--contact .is-box {
            width: 100%;
        }
    }
}

// transition

@import "./transition.scss";
@import "./button.scss";

// block

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}